{{#>base title="Order"}}
    {{#*inline "main-block"}}
        {{#if userConnected}}
            {{> order-partial order = order}}
        {{else}}
            <h1> You should be connected </h1>
        {{/if}}
    {{/inline}}
{{/base}}