{{#>base title="Purchase"}}
    {{#*inline "main-block"}}
        {{#if userConnected}}
            {{> purchase-partial user=user}}
        {{else}}
            <h1> You should be connected </h1>>
        {{/if}}
    {{/inline}}
{{/base}}