<!-- Footer -->
<footer class="footer mt-3 py-3 bg-dark fixed-bottom">
    <div class="container">
        <span class="text-muted"> <strong>The Cool Hats company</strong> created by <i>Loris, Clément, Kristers, Ralfs</i> for Web Engineering and Services subject 2019</span>
    </div>
</footer>
