<!-- Header -->
<header>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron rounded-0 bg-primary text-light">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="display-3">
                        {{#if title}}
                            {{title}}
                        {{else}}
                            Hat Shop Website
                        {{/if}}
                    </h1>
                    <p>This Web Site presents a fictional catalogue and shopping cart for the Hats Ltd company</p>
                </div>
            </div>
        </div>
    </div>
</header>
