<h1 >Index </h1 >
<a href="signin" onclick="Controller.controllers.index.goToSignin_clicked( event )" >Go to signin </a>
<button class="btn btn-primary" onclick="Controller.controllers.index.addItemToShoppingCart(event)" value="Click me">Click me</button>
<button class="btn btn-secondary" onclick="Controller.controllers.index.addUser(event)" value="Add User">Add User</button>
