<div class="col-xl-3 col-lg-4 col-md-6 sm-12 col-12">
    <div class="card text-white bg-primary mb-3">
        <img class="card-img-top" src="{{url}}">
        <div class="card-header">{{name}}</div>
        <div class="card-body">
            <p class="card-text">{{description}}</p>
            <div class="card-footer row">
                <h2 class="mr-auto">{{price}} €</h2>
                <a href="cart.html">
                    <button class="btn btn-warning">BUY</button>
                </a>
            </div>
        </div></div></div>
