<h1>shopping cart</h1>
{{#if items.length}}
	<h3>Item in the shopping cart</h3>
	{{#each items}}

	{{/each}}
    <table>
        <tr><td>sub total</td><td>{{subTotal}}</td></tr>
        <tr><td>tax (20%)</td><td>{{tax}}</td></tr>
        <tr><td>total</td><td>{{total}}</td></tr>
    </table>
	{{else}}
	<h3>no item in the shopping cart</h3>
{{/if}}