{{#> nav-block}}
    {{> nav-partial}}
{{/nav-block}}

{{#> header-block}}
    {{> header-partial title=title}}
{{/header-block}}

<div class="container mb-5">
    {{#> main-block}}

    {{/main-block}}
</div>

{{#> footer-block}}
    {{> footer-partial}}
{{/footer-block}}
