<div class="container">
    <form>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">

                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="exampleInputPassword1">Username</label>
                    <input type="username" class="form-control" id="exampleInputUsername1" placeholder="Username">
                </div>
            </div>
        </div>
        <!--2nd row-->
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Surname</label>
                    <input type="surname" class="form-control" id="exampleInputSurname1" placeholder="Enter surname">

                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
            </div>
        </div>
        <!--3rd row-->
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Address</label>
                    <input type="address" class="form-control" id="exampleInputAddress1" placeholder="Enter address">

                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirm password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2"
                        placeholder="Enter password again">
                </div>
            </div>
        </div>
        <!--4th row-->
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Birth Date</label>
                    <input type="date" class="form-control" id="exampleInputDate1" placeholder="Choose bithdate">
                </div>
            </div>
            <div class="col-lg-6">
                <!--placeholder-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 ">
                <button type="submit" class="btn btn-primary"  onclick="Controller.controllers.signup.signUp(event)">Submit</button>
            </div>
        </div>
    </form>
</div>
<br><br>